# SPDX-License-Identifier: GPL-2.0

source "drivers/misc/mediatek/sensor/2.0/mtk_nanohub/Kconfig"
source "drivers/misc/mediatek/sensor/2.0/sensorhub/Kconfig"
source "drivers/misc/mediatek/sensor/2.0/test/Kconfig"
source "drivers/misc/mediatek/sensor/2.0/lsm6dsm_secondary/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/camera_protecthub/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/free_fallhub/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/pickup_detecthub/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/fp_displayhub/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/lux_aodhub/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/pedo_minutehub/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/elevator_detecthub/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/oplus_activity_recognitionhub/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_sensor_devinfo/Kconfig"
source "vendor/oplus/sensor/kernel/oplus_virtual_sensor/sensors/sensor_monitor/Kconfig"
source "drivers/misc/mediatek/sensor/2.0/mn29005/Kconfig"
